spring:
  profiles:
    active:
    - dev
---
server:
  port: 8001

spring: 
  profiles: dev
  application: 
    name: microservicecloud-config-dept-client
  datasource: 
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://192.168.1.108:3306/cloudDB01
    username: root
    password: 123456
---
server:
  port: 8002

spring: 
  profiles: test
  application: 
    name: microservicecloud-config-dept-client
  datasource: 
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://192.168.1.108:3306/cloudDB02
    username: root
    password: 123456